---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import ArticleCard from "../components/ArticleCard.astro";
import isPreview from "../utils/isPreview";
const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: isPreview() ? "draft" : "published",
  starts_with: "blog/",
  is_startpage: false,
});

const articles = data.stories;
---

<section
  class="my-12 animate__animated animate__fadeIn"
  {...storyblokEditable(blok)}>
  <h2 class="text-5xl lg:text-6xl text-primary font-medium mt-12 lg:mt-20">
    {blok.headline}
  </h2>
  <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-12">
    {
      articles?.length &&
        articles.map((article: any) => {
          article.content.slug = article.slug;
          return (
            <li class="items-stretch flex mx-auto">
              <ArticleCard article={article.content} />
            </li>
          );
        })
    }
  </ul>
</section>
