---
import { storyblokEditable } from "@storyblok/astro";
import ContactForm from "../components/ContactForm.astro";
import { Image } from "astro:assets";
import Background from "../assets/dots-tall.svg";
const { blok } = Astro.props;
---

<section
  class="w-full min-h-screen flex flex-col xl:flex-row overflow-hidden animate__animated animate__fadeIn pb-6"
  {...storyblokEditable(blok)}>
  <div
    class="flex flex-col my-auto pb-12 pt-24 xl:pb-40 max-w-4xl xl:w-1/2 xl:pr-12 bg-plus bg-contain bg-center bg-opacity-5">
    <h1
      class="text-5xl sm:text-6xl lg:text-7xl xl:text-8xl text-primary font-medium mb-6 capitalize">
      {blok.headline}
    </h1>

    <h2 class="text-xl sm:text-2xl lg:text-3xl text-zinc-300 font-light mb-6">
      {blok.description}
    </h2>
  </div>
  <div
    class="flex flex-col w-full xl:w-1/2 justify-start xl:pt-20 items-center relative">
    <ContactForm />
    <Image
      src={Background}
      alt="abstract background pattern"
      height="625"
      width="400"
      class="opacity-30 hidden xl:block absolute top-4 right-0"
    />
  </div>
</section>
