---
import { storyblokEditable } from '@storyblok/astro'
 
 const { blok } = Astro.props
---
  
 <div
   {...storyblokEditable(blok)}
   class="w-full bg-[#f7f6fd] rounded-xl text-center overflow-hidden max-w-lg cursor-pointer hover:shadow-md hover:shadow-neutral-600/50 transition-all ease-in-out duration-300 hover:-translate-y-px"
 >
   <img
     src={blok.image.filename}
     alt={blok.image.alt}
     class="w-full h-48 xl:h-72 object-cover"
   />
   <div class="px-12 py-6">
     <h3 class="text-2xl text-[#1d243d] font-bold">
       {blok.name}
     </h3>
   </div>
 </div>