---
import { storyblokEditable } from "@storyblok/astro";
import SocialLinks from "../components/SocialLinks.astro";
const { blok } = Astro.props;
---

<footer
  class="bg-zinc-800 border-t border-zinc-300 w-full"
  {...storyblokEditable(blok)}>
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav
      class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
      aria-label="Footer">
      <div class="pb-6">
        <a
          href="#"
          class="text-lg leading-6 text-zinc-200 hover:text-primary transition ease-in-out duration-200"
          >About</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#"
          class="text-lg leading-6 text-zinc-200 hover:text-primary transition ease-in-out duration-200"
          >Blog</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#"
          class="text-lg leading-6 text-zinc-200 hover:text-primary transition ease-in-out duration-200"
          >Jobs</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#"
          class="text-lg leading-6 text-zinc-200 hover:text-primary transition ease-in-out duration-200"
          >Press</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#"
          class="text-lg leading-6 text-zinc-200 hover:text-primary transition ease-in-out duration-200"
          >Accessibility</a
        >
      </div>
      <div class="pb-6">
        <a
          href="#"
          class="text-lg leading-6 text-zinc-200 hover:text-primary transition ease-in-out duration-200"
          >Partners</a
        >
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">
      <SocialLinks />
    </div>
    <p class="mt-10 text-center text-gray-500">
      &copy; 2020 Your Company, Inc. All rights reserved.
    </p>
  </div>
</footer>
