---
import { useStoryblokApi } from "@storyblok/astro";
import SocialLinks from "../components/SocialLinks.astro";
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
});
const footer = data?.story?.content.Footer;
---

<footer class="bg-zinc-800 border-t border-zinc-700 w-full">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-12 lg:px-8">
    <ul
      class="columns-2 sm:flex sm:justify-center sm:space-x-12 text-lg"
      aria-label="Footer">
      <li class="pb-4">
        <a
          href="/"
          class="hover:text-primary transition ease-in-out duration-200">
          Home</a
        >
      </li>
      {
        footer.map(
          (menu: { link: { cached_url: any; story: { name: any } } }) => (
            <li class="pb-4">
              <a
                href={`/${menu.link.cached_url}`}
                class="pb-4 hover:text-primary transition ease-in-out duration-200">
                {menu.link.story.name}
              </a>
            </li>
          )
        )
      }
    </ul>

    <div class="mt-2 flex justify-center">
      <SocialLinks />
    </div>
    <p class="mt-6 text-center text-zinc-400 font-space capitalize">
      &copy; {new Date().getFullYear()}, EMurrell
    </p>
  </div>
</footer>
