---
import { storyblokEditable } from '@storyblok/astro'
 
 const { blok } = Astro.props
---

<section class="w-full min-h-screen flex flex-col"  {...storyblokEditable(blok)}>
    <h1 class="text-7xl text-white font-bold mb-3 max-w-3xl">
        {blok.headline}
      </h1>
      <h2 class="text-2xl text-zinc-400 font-light mb-6">
        {blok.description}
      </h2>
</section>