---
import { storyblokEditable } from "@storyblok/astro";
import SocialLinks from "../components/SocialLinks.astro";
import { Image } from "astro:assets";
import backgroundImage from "../background-images/spiral-1.svg";
const { blok } = Astro.props;
---

<section
  class="w-full min-h-screen flex flex-col relative overflow-hidden"
  {...storyblokEditable(blok)}>
  <div
    class="flex flex-col my-auto pb-48 max-w-4xl animate__animated animate__fadeIn">
    <h1
      class="text-5xl sm:text-6xl lg:text-7xl xl:text-8xl text-white font-bold mb-6 capitalize">
      {blok.headline}
    </h1>
    <div class="animate__animated animate__fadeIn animate__delay-1s">
      <h2 class="text-xl sm:text-2xl lg:text-3xl text-zinc-400 font-light mb-6">
        {blok.description}
      </h2>
      <SocialLinks />
      <Image
        src={backgroundImage}
        alt="bg"
        class="motion-safe:animate-spin-slow motion-reduce:animate-none opacity-20 absolute right-0 xl:right-12 2xl:right-24 top-8"
        height="700"
        width="700"
      />
    </div>
  </div>
</section>
