---
import { storyblokEditable } from '@storyblok/astro'
const { blok } = Astro.props
---

<section class="w-full min-h-screen flex flex-col"  {...storyblokEditable(blok)}>
    <div class="flex flex-col my-auto pb-48 max-w-4xl">
    <h1 class="text-8xl text-white font-bold mb-6 animate__animated animate__fadeIn capitalize">
        {blok.headline}
      </h1>
      <h2 class="text-3xl text-zinc-400 font-light mb-6 animate__animated animate__fadeIn animate__delay-1s">
        {blok.description}
      </h2>
    </div>
</section>