---
import { useStoryblokApi } from '@storyblok/astro'
const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/config', {
  version: 'draft',
  resolve_links: 'url',
})
const navbar = data?.story?.content.Navbar
---
 
<header class="w-full h-24 sticky top-0 backdrop-blur-md">
  <div class="container h-full mx-auto flex items-center justify-between">
    <a href="/">
      <h1 class="text-teal-500 text-4xl tracking-wide font-space">galactica</h1>
    </a>
    <nav>
      <ul class="flex space-x-8 text-lg">
        {
          navbar.map((menu: { link: { cached_url: any; story: { name: any } } }) => (
            <li>
              <a href={`/${menu.link.cached_url}`} class="hover:shadow-bottom transition ease-in-out duration-500">
                {menu.link.story.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>