---
import { Icon } from "astro-icon/components";

const socialLinks: {
  friendlyName: string;
  isWebmention?: boolean;
  link: string;
  name: string;
}[] = [
  {
    friendlyName: "Facebook",
    link: "https://en.wikipedia.org/wiki/Facebook",
    name: "mdi:facebook",
  },
  {
    friendlyName: "Twitter",
    link: "https://en.wikipedia.org/wiki/Twitter",
    name: "mdi:twitter",
  },
  {
    friendlyName: "Github",
    link: "https://en.wikipedia.org/wiki/GitHub",
    name: "mdi:github",
  },
  {
    friendlyName: "LinkedIn",
    link: "https://en.wikipedia.org/wiki/LinkedIn",
    name: "mdi:linkedin",
  },
  {
    friendlyName: "email",
    link: "mailto:youremailaddress@gmails.com",
    name: "mdi:email",
  },
];
---

<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
  {
    socialLinks.map(({ friendlyName, link, name }) => (
      <li class="flex">
        <a
          class="inline-block p-1 hover:text-primary transition ease-in-out duration-500"
          href={link}>
          <Icon
            aria-hidden="true"
            class="h-6 w-6 lg:h-8 lg:w-8"
            focusable="false"
            name={name}
          />
          <span class="sr-only">{friendlyName}</span>
        </a>
      </li>
    ))
  }
</ul>
