---
import Navbar from "../storyblok/Navbar.astro";
import Footer from "../storyblok/Footer.astro";
import "@fontsource/poppins";
import "@fontsource-variable/inter";
import "@fontsource-variable/space-grotesk";
import "@fontsource/noto-serif-sc";
import "animate.css";

interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="description" content="An open-source Astro theme." />
    <title>Blog w/Astro & Storyblok</title>
  </head>
  <body class="w-full text-zinc-100 bg-zinc-900 font-inter">
    <Navbar />
    <div
      class="px-4 sm:px-8 md:px-10 lg:px-12 xl:px-16 2xl:px-24 relative overflow-hidden pt-1">
      <main class="container mx-auto max-w-8xl">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
